<div class="row justify-content-center align-content-center">
  <div class="container">
    <h1 class="text-center my-5">Contactez-nous !</h1>
    <div class="card my-3 container" style="width: 25rem">
      <div class="card-header row">Contact</div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>
